@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

::-moz-selection {
    background: #a8d1ff;
    text-shadow: none;
}

::selection {
    background: #a8d1ff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.middle {
	vertical-align: middle;
}

.mt10 {
	margin-top: 10px;
}

.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.mt80 {
	margin-top: 80px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
	height: 100%;
}

body {
    color: #fff;
    font-family: 'Ubuntu', Lato;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

a {
	color: #fff;
}

a:focus {
	color: #fff;
	text-decoration: none;
}

a:hover {
    color: #e8e53d;
    text-decoration: none;
}

.navbar-brand {
	font-weight: 700;
	color: #f1c40f;
    text-decoration: none;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/background.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}

#headerwrap h1 {
	font-size: 75px;
	margin: 25px 0 10px 0;
}

#headerwrap h2 {
	width: 100%;
}

#headerwrap h4 {
	font-size: 25px;
	margin: 10px 0 10px 0;
}

#headerwrap h5 {
  font-weight: 400;
  padding-bottom: 15px;
  color: #ffffff
}

.title-wrap {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 900px;
}

.title-wrap h2 {
	font-size: 35px;
}

.title-wrap img {
	height: 180px;
	width: 180px;
}

.title {
	text-align: left;
}

.how-it-works-wrap {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 670px;
}

.how-it-works-wrap h2 {
	margin: 10px 0 10px 0;
}

.social-media i {
	font-size: 50px;
}

	/* Footer */
#footerwrap {
	background-color: #2f2f2f;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 90px;
}

.push {
	height: 90px;
}

#footerwrap p {
	color: #f2f2f2;
	margin: auto;
}

#footerwrap a:hover {
    color: #e31e26;
    text-decoration: none;
}

#footerwrap i:hover {
    color: #e31e26;
    text-decoration: none;
}

#footerwrap .copyright {
	margin-top: 18px;
	text-align: left;
}

#footerwrap .links {
	margin-top: 18px;
	text-align: right;
}

	/* FAQ */
.faqwrap {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 900px;
}

.faqwrap p {
	font-family: 'Ubuntu', Lato;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.faqwrap a {
	color: #428bca;
	font-weight: 700;
}

.faqwrap a:hover {
	color: #2a6496;
}

/*.logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	margin: 5px 2%;
	height: 50px;
	width: 50px;
}

.logo::selection{
	color: transparent;
}
*/
/* MailChimp */
#mc_embed_signup {
	clear: left;
	font-size: 14px;
}

#mc_embed_signup input.email {
	border-radius: 5px;
	color: #333333;
	font-family: 'Ubuntu', Lato;
	font-size: 20px;
	margin: auto !important;
	margin-bottom: 10px !important;
	text-indent: 10px !important;
	width: 600px !important;
}

#mc_embed_signup input.button {
	background: #e31e26 !important;
	border: 2px outset #fff;
	border-radius: 5px;
	font-family: 'Ubuntu', Lato;
	font-size: 20px;
	height: auto !important;
	margin: auto !important;
	padding: 10px !important;
	width: 250px !important;
}

#mc_embed_signup input.button:hover {
	background: #bb171e !important;
}

/* Responsiveness */
@media(min-width: 768px) and (max-width: 991px) {
	#headerwrap {
		margin: 0 auto -80px;
	}
	#headerwrap h1 {
		font-size: 60px;
		margin-top: 23px;
	}
	#headerwrap h2 {
		font-size: 25px;
	}
	#headerwrap h4 {
		font-size: 20px;
	}
	.title-wrap, .faqwrap {
		width: 700px;
	}
	.title-wrap h2 {
		font-size: 30px !important;
	}
	.title-wrap img {
		height: 150px;
		width: 150px;
	}
	#footerwrap, .push {
		height: 80px;
	}
	#footerwrap .copyright,
	#footerwrap .links {
		margin-top: 10px;
	}

	.faqwrap h3 {
		font-size: 22px
	}

	.social-media i {
		font-size: 40px;
	}
}

@media (max-width: 767px) {
	#headerwrap {
		margin: 0 auto -144px;
	}
	#headerwrap h1 {
		font-size: 60px;
		margin-top: 20px;
	}
	#headerwrap h2 {
		font-size: 23px;
	}
	#headerwrap h4 {
		font-size: 20px;
	}
	.title-wrap , .faqwrap{
		width: 100%;
	}
	.title-wrap h2 {
		font-size: 30px !important;
	}
	.title-wrap img {
		height: 130px;
		width: 130px;
	}
	.title {
		text-align: center;
	}
	.how-it-works-wrap {
		width: 100%;
	}
	#footerwrap, .push {
		height: 144px;
	}
	#footerwrap p {
		width: 100%;
	}
	#footerwrap .copyright {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	#footerwrap .links {
		margin-top: 10px;
		text-align: center;
	}

	.faqwrap h3 {
		font-size: 22px
	}

	.social-media i {
		font-size: 40px;
	}

	#mc_embed_signup input.email,
	#mc_embed_signup input.button {
		width: 100% !important;
	}
}