@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.left {
	text-align: left;
}

.middle {
	vertical-align: middle;
}

.mt50 {
	margin-top: 50px;
}

.mt80 {
	margin-top: 80px;
}

.mb50 {
	margin-bottom: 50px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    color: #fff;
    font-family: 'Ubuntu', Lato;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}


.navbar-brand {
	font-weight: 700;
	color: #f1c40f;
    text-decoration: none;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/background.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	font-family: 'Ubuntu', Lato;
	font-size: 75px;
	font-weight: bold;
	margin-top: 10px;
}

#headerwrap h2 {
	width: 100%;
}

#headerwrap h4 {
	font-family: 'Ubuntu', Lato;
	font-size: 25px;
	font-weight: bold;
}

#headerwrap i:hover {
  color: #CCFF99
}

#headerwrap h5 {
  font-weight: 400;
  padding-bottom: 15px;
  color: #ffffff
}

.title-wrap {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 900px;
}

.how-it-works-wrap {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 620px;
}

.social-media i {
	color: #4a4a4a
}

.social-media i:hover {
	color: #1abc9c
}

#footerwrap {
	background-color: #2f2f2f;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footerwrap p {
	color: #f2f2f2;
	margin: auto;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

#footerwrap a:hover {
    color: #CCFF99
}

#footerwrap i:hover {
    color: #CCFF99
}

#footerwrap i {
	color: #f2f2f2;
}

#workwrap {	
	background: url(../img/dragonboat.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 270px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 1000px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 50px;
	font-weight: bold;
}

#aboutwrap h4 {
	font-weight: 400;
	color: #ffffff
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

/*MailChimp*/
#mc_embed_signup {
	clear: left;
	font-size: 14px;
}

#mc_embed_signup input.email {
	border-radius: 5px;
	font-family: 'Ubuntu', Lato;
	font-size: 20px;
	margin: auto !important;
	margin-bottom: 10px !important;
	text-indent: 10px !important;
	width: 600px !important;
}

#mc_embed_signup input.button {
	background: #e31e26 !important;
	border-radius: 5px;
	font-family: 'Ubuntu', Lato;
	font-size: 20px;
	height: auto !important;
	margin: auto !important;
	padding: 10px !important;
	width: 250px !important;
}

#mc_embed_signup input.button:hover {
	background: #bb171e !important;
}

@media (max-width: 767px) {
	#mc_embed_signup input.email,
	#mc_embed_signup input.button {
		width: 100% !important;
	}
}