@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Jolly+Lodger:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

::-moz-selection {
    background: #a8d1ff;
    text-shadow: none;
}

::selection {
    background: #a8d1ff;
    text-shadow: none;
}

/* A better looking default horizontal rule */
/* ================================================================================================== */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}

.middle {
	vertical-align: middle;
}

.mt10 {
	margin-top: 10px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mt80 {
	margin-top: 80px;
}

.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}

.noPadding{
	padding: 0;
}

/* General styles */
/* ================================================================================================== */
html, body {
	height: 100%;
}

body {
    color: #000;
    font-family: 'Ubuntu', Lato;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
}

@-moz-document url-prefix() {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
	}
}

a {
	color: #fff;
}
a:focus {
	color: #fff;
	text-decoration: none;
}
a:hover {
    color: #F6EB2B;
    text-decoration: none;
}

.navbar-brand {
	font-weight: 700;
	color: #f1c40f;
    text-decoration: none;
}
.navbar-default .navbar-brand {
	color: #1abc9c;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}
.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

/* Wrap Sections */
/* ================================================================================================== */
#headerWrap {
	/*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/background.jpg) no-repeat center top;*/
	background: rgba(246, 235, 43, 1);
	margin-top: 0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerWrap .container {
	margin: 0;
	padding: 0 -15px 0 -15px;
	width: 100%;
}

#fillerWrap {
	background: rgba(246, 235, 43, 1);
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px;
}
#fillerWrap .container {
	margin: 0;
	padding: 0 -15px 0 -15px;
	width: 100%;
}

#headerWrap h1 {
	font-size: 75px;
	margin: 5px 0 8px 0;
}
#headerWrap h2 {
	width: 100%;
}
#headerWrap h4, #fillerWrap h4 {
	font-size: 24px;
	margin: 5px 0 8px 0;
}
#headerWrap h5 {
  font-weight: 400;
  padding-bottom: 15px;
  color: #000
}

.titleWrap {
	/*background: rgba(0, 0, 0, 0.8);*/
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
.titleContainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.invTitleWrap {
	background: rgba(0, 0, 0, 0);
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.titleWrap h2 {
	font-size: 50px;
}

@-moz-document url-prefix() {
	#headerWrap h1, .titleWrap h2, .faqWrap h3 {
		font-weight: 700;
	}
}

.titleWrap img {
	height: 130px;
	width: 130px;
}

.title {
	text-align: center;
}

.howItWorksWrap {
	/*background: rgba(22, 139, 62, 0.8);*/
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
}
.howItWorksContainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.invHowItWorksWrap {
	background: rgba(0, 0, 0, 0);
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}
.howItWorksWrap h2 {
	margin: 10px 0 10px 0;
}

.signUpWrap {
	/*background: rgba(68, 136, 158, 0);*/
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}

.socialMedia i {
	font-size: 50px;
}

	/* Footer */
#footerWrap {
	background-color: #2f2f2f;
	color: #000;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 90px;
}

.push {
	height: 90px;
}

#footerWrap p {
	color: #f2f2f2;
	margin: auto;
}
#footerWrap a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#footerWrap a:focus {
    text-decoration: none;
}
#footerWrap a:hover {
    color: #F6EB2B;
    text-decoration: none;
}
#footerWrap .socialMedia i {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#footerWrap .socialMedia i:hover {
    color: #F6EB2B;
    text-decoration: none;
}
#footerWrap .copyright {
	margin-top: 16px;
	text-align: left;
}
#footerWrap .links {
	margin-top: 16px;
	text-align: right;
}

/* Responsiveness */
@media(min-width: 768px) and (max-width: 991px) {
	#fillerWrap {
		margin: 0 auto -90px;
	}

	#headerWrap h1 {
		font-size: 65px;
	}
	#headerWrap h2 {
		font-size: 25px;
	}
	#headerWrap h4, #fillerWrap h4 {
		font-size: 21px;
	}

	.invTitleWrap, .faqWrap {
		width: 700px;
	}
	.titleWrap h2 {
		font-size: 40px !important;
	}
	.titleWrap img {
		height: 110px;
		width: 110px;
	}

	.invHowItWorksWrap {
		width: 500px;
	}

	#footerWrap, .push {
		height: 90px;
	}
}

@media (max-width: 767px) {
	#fillerWrap {
		margin: 0 auto -144px;
	}

	#headerWrap h1 {
		font-size: 60px;
	}
	#headerWrap h2 {
		font-size: 23px;
	}
	#headerWrap h4, #fillerWrap h4 {
		font-size: 20px;
	}

	.invTitleWrap, .faqWrap {
		width: 100%;
	}
	.titleWrap h2 {
		font-size: 30px !important;
	}
	.titleWrap img {
		height: 90px;
		width: 90px;
	}
	.title {
		text-align: center;
	}

	.invHowItWorksWrap {
		width: 100%;
	}

	.signUpWrap {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#footerWrap, .push {
		height: 144px;
	}
	#footerWrap p {
		width: 100%;
	}

	.socialMedia i {
		font-size: 40px;
		margin: 10px 0;
	}

	#footerWrap .copyright, #footerWrap .links {
		margin-top: 0;
		text-align: center;
	}
}